<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20style%3D%22dominant-baseline%3Acentral%3Btext-anchor%3Amiddle%3Bfont-size%3A90px%3B%22%3E%F0%9F%98%B5%3C%2Ftext%3E%3C%2Fsvg%3E">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>WordPress 記入ルール</title>
</head>

<body>
    <div id="app">
        <!-- --------------- -->
        <div class="horizon">
            <div>
                <label for="userInputBookTitle">書名</label>
                <input type="text" id="userInputBookTitle" v-focus v-model="userInputBookTitle">
            </div>
            <div>
                <label for="userInputFivecode">5桁コード</label>
                <input type="tel" id="userInputFivecode" v-model="userInputFivecode">
            </div>
        </div>
        <!-- --------------- -->
        <h1>目次</h1>
        <h2>書籍の新規登録</h2>
        <div><img src="./images/new-book-category.png" alt="new-book-category.png"></div>
        <input-example :example="simplest">名前</input-example>
        <input-example :example="isbn13">スラッグ</input-example>
        <!-- --------------- -->
        <h2>URL</h2>
        <ul>
            <li>
                <input-example :example="mokujiPageUrlForGenelal">一般用</input-example>
            </li>
            <li>
                <input-example :example="mokujiPageUrlForLimited">先生用</input-example>
            </li>
        </ul>
        <!-- --------------- -->
        <h2>ページタイトル</h2>
        <div><img src="./images/new-mokuji-page-title.png" alt="new-mokuji-page-title.png"></div>
        <ul>
            <li>
                <input-example :example="mokujiPageTitleForGenelal">一般用</input-example>
            </li>
            <li>
                <input-example :example="mokujiPageTitleForLimited">先生用</input-example>
            </li>
        </ul>
        <!-- --------------- -->
        <h2>カスタムフィールドテンプレート</h2>
        <div><img src="./images/mokuji-customfield.png" alt="mokuji-customfield.png"></div>
        <ul>
            <li>記事見出し
                <ul>
                    <li>
                        <input-example :example="mokujiArticleTitleForGenelal">一般用</input-example>
                    </li>
                    <li>
                        <input-example :example="mokujiArticleTitleForLimited">先生用</input-example>
                    </li>
                </ul>
            </li>
            <li>
                <input-example :example="simplest">書籍名</input-example>
            </li>
        </ul>
        <!-- --------------- -->
        <h2>SEO</h2>
        <h3><code>Title</code></h3>
        <div><img src="./images/new-seo-title.png" alt="new-seo-title.png"></div>
        <ul>
            <li><input-example :example="mokujiPageTitleForGenelal">一般用</input-example></li>
            <li><input-example :example="mokujiPageTitleForLimited">先生用</input-example></li>
        </ul>
        <h3><code>Custom Image</code></h3>
        <div><img src="./images/new-custom-image.png" alt="new-custom-image.png"></div>
        <input-example :example="coverImgUrl"></input-example>
        <!-- --------------- -->
        <h1>ウェブサポート</h1>
        <!-- --------------- -->
        <h2>URL</h2>
        <div class="horizon">
            <div>
                <label for="supportIdx">目次ページ（＝サイドバー）の何番目に表示するか：</label>
                <select id="supportIdx" v-model="supportIdx">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div>
                <label><input type="checkbox" v-model="modifyUrl">末尾に文字を追加する：</label>
                <input type="text" v-model="trailing" :disabled="!(modifyUrl)">
            </div>
        </div>
        <ul>
            <li>
                <input-example :example="supportPageUrlForGenelal">一般用</input-example>
            </li>
            <li>
                <input-example :example="supportPageUrlForLimited">先生用</input-example>
            </li>
        </ul>
        <h2>サポートページ名</h2>
        <input type="text" id="pageName" v-model="pageName">
        <!-- --------------- -->
        <h2>ページタイトル</h2>
        <div><img src="./images/new-support-page-title.png" alt="new-support-page-title.png"></div>
        <input-example :example="supportPageTitle"></input-example>
        <!-- --------------- -->
        <h2>カスタムフィールドテンプレート</h2>
        <div><img src="./images/support-customfield.png" alt="support-customfield.png"></div>
        <input-example :example="supportPageTitle"></input-example>
        <!-- --------------- -->
        <h2>SEO</h2>
        <h3><code>Title</code></h3>
        <div><img src="./images/new-seo-title.png" alt="new-seo-title.png"></div>
        <input-example :example="supportPageTitle"></input-example>
        <!-- --------------- -->
        <h3><code>Custom Image</code></h3>
        <div><img src="./images/new-custom-image.png" alt="new-custom-image.png"></div>
        <input-example :example="coverImgUrl"></input-example>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script>

        const copyButton = {
            data: function () {
                return {
                    copied: false
                }
            },
            props: {
                content: {
                    type: String,
                    require: true
                }
            },
            methods: {
                copy: function () {
                    navigator.clipboard.writeText(this.content);
                    this.copied = true;
                }
            },
            watch: {
                content: function () {
                    this.copied = false;
                }
            },
            template: `
            <button @click="copy" :class="{done:copied}">COPY</button>
            `
        }

        const inputExample = {
            props: {
                example: {
                    type: String,
                    require: true
                }
            },
            components: {
                "copy-button": copyButton
            },
            template: `
            <div class="input-example">
                <label>
                    <slot></slot>
                </label>
                <div class="box">
                    <input type="text" disabled :value=example>
                    <copy-button :content="example">COPY</copy-button>
                </div>
            </div>
            `
        };

        const getCheckDigit = (isbn) => {
            const total = String(isbn).split("").map((n, i) => {
                if (i % 2 == 0) {
                    return Number(n);
                }
                return Number(n) * 3;
            }).reduce((accum, x) => {
                return accum + Number(x)
            }, 0);
            return ((10 - (total % 10))) % 10;
        }

        const toHalfWidth = (s) => {
            return s.replace(/[\uff21-\uff3a\uff41-\uff5a\uff10-\uff19]/g, (s) => {
                return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
            });
        }

        const vm = Vue.createApp({
            data: function () {
                return {
                    userInputBookTitle: "心理学スタディメイト",
                    userInputFivecode: "20002",
                    supportIdx: "1",
                    modifyUrl: false,
                    trailing: "movie",
                    pageName: "Chapter structure"
                }
            },
            computed: {
                fivecode: function () {
                    return toHalfWidth(this.userInputFivecode).replace(/[^0-9]/g, "").substr(0, 5);
                },
                isbn12: function () {
                    return "9784641" + String(this.fivecode);
                },
                checkDigit: function () {
                    return getCheckDigit(this.isbn12);
                },
                isbn13: function () {
                    return `${this.isbn12}${this.checkDigit}`;
                },
                bookTitle: function () {
                    return this.userInputBookTitle.trim().replace(/^『|』$/g, "");
                },
                simplest: function () {
                    return this.bookTitle;
                },
                mokujiPageUrlForGenelal: function () {
                    return `https://www.yuhikaku.co.jp/yuhikaku_pr/y-knot/list/${this.fivecode}p/`;
                },
                mokujiPageUrlForLimited: function () {
                    return `https://www.yuhikaku.co.jp/yuhikaku_pr/y-knot/list/${this.fivecode}t/`;
                },
                mokujiPageTitleForGenelal: function () {
                    return this.bookTitle + "　ウェブサポートページ（一般向け）";
                },
                mokujiPageTitleForLimited: function () {
                    return this.bookTitle + "　ウェブサポートページ（先生向け）";
                },
                mokujiArticleTitleForGenelal: function () {
                    return this.bookTitle + "　一般向けページ";
                },
                mokujiArticleTitleForLimited: function () {
                    return this.bookTitle + "　先生向けページ";
                },
                supportPageTitle: function () {
                    return this.bookTitle + "　" + this.pageName.trim();
                },
                supportPageIdx: function () {
                    return ("0" + this.supportIdx).slice(-2);
                },
                urlTrailer: function () {
                    if (this.modifyUrl) {
                        return this.trailing;
                    }
                    return "";
                },
                supportPageUrlForGenelal: function () {
                    return `https://www.yuhikaku.co.jp/yuhikaku_pr/y-knot/ws/${this.fivecode}p_${this.supportPageIdx}${this.urlTrailer}/`;
                },
                supportPageUrlForLimited: function () {
                    return `https://www.yuhikaku.co.jp/yuhikaku_pr/y-knot/ws/${this.fivecode}t_${this.supportPageIdx}${this.urlTrailer}/`;
                },
                coverImgUrl: function () {
                    return `https://www.yuhikaku.co.jp/uploads/images/L${this.fivecode}.jpg`;
                },
            },
            components: {
                "input-example": inputExample
            },
            directives: {
                focus: {
                    mounted: function (el) {
                        el.focus();
                    }
                }
            }
        }).mount("#app");

    </script>
</body>

</html>